
.hero {
position: relative;
  margin-bottom: 2em;
  padding: 3em 2em;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  .title {
        margin-bottom: 0!important;
    }
}

  .hero-title {
    margin-bottom: 0;
  }
  .tagline {

  }
}


.notice.note {
    border-color: #ccc;
    background-color: #f1fffe;
    color: #555;

    & h2 {
        font-size:1.5rem;
    }
  }

ul.lesson-navigation {
    a {
    color: rgb(2, 132, 132);
    }
}

figure {
    font-weight: 600;
}

ul.lesson-navigation li.active {
    list-style: disclosure-closed;
    a {
        color:#636262;
    }
}

ul.lesson-navigation li {
    list-style: none;

}

.highlight span {
    margin-bottom: 0;
  }

.content strong {
  font-weight:800!important;
}






.notice {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 1.5rem;
}

.notice-head {
  display: flex;
  align-items: center;
}

.notice-head svg {
  margin-right: 0.75rem;
}

.notice-head p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
  line-height: 1;
}

.notice-body {
  margin-top: 0.75rem;
}

.notice-body p {
  margin: 0;
}

.notice.note {
  color: #1b83e2;
  border-color: currentColor;
}

.notice.tip {
  color: #40d294;
  border-color: currentColor;
}

.notice.info {
  color: #e3a72c;
  border-color: currentColor;
}

.notice.warning {
  color: #db2c23;
  border-color: currentColor;
}

// darkmode
.dark .notice-head p {
  color: #d1d5db;
}
