
//* code *//
pre {
    border-radius: .7em;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

body.dark div.notices, div.notices {
    background-color: #0c5350;
    color: #fff !important;
    border-radius: .5em;
    border-radius: .5em;
    padding: 1em;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}