
$bannerHeight: 200px; // Adjust this to your desired banner height
$imageMaxHeight: $bannerHeight;

.nav-fixed.fullcontent.quarto-light {
    background-color: white!important;
  }

.top-banner {
    height: 200px;
    background-color: #f0f0f0; // Set your desired background color
    display: flex;
    align-items: center;
    justify-content: center;

    // Style the banner image
    img {
      max-height: 200px;
      max-width: 100%;
      display: block;
      margin: 0 auto; // Center the image horizontally
    }
  }
